<div class="container">
  <div class="col-md-12">
    <div class="row post">
        <span>
          <span> | Posted
            <span> {{post.createDate}} </span>
            by
            <a class="username" href="">{{post.username}}</a>
          </span>
        </span>
    </div>
    <hr>
  </div>
  <div class="col-md-12">
      <div class="row">
        <h1>{{post?.title}}</h1><br>
        <div class="col-md-12">
          <div class="row">
            <img style="padding: 0 15px;" mat-card-image [src]="post.image" alt="blog_image">
          </div>
          <hr>
        </div>
        <div>
          <p class="post-text" [innerHtml]="post?.description"></p>
        </div>
      </div>
      <hr>
  </div>
  <div class="col-md-12">
    <app-like-button [post]="post"></app-like-button>
    <hr>
  </div>
  <div class="col-md-12">
    <div class="row">
      <div class="comments_section" *ngFor="let comment of comments">
        <span class="user_name"><a routerLink="/user/comment.username">{{comment.username}}</a></span> {{comment.comment}}<br>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="row">
      <form class="post_commentBox" [formGroup]="commentForm" (ngSubmit)="postComment()">
        <div class="form-group">
          <input [(ngModel)]="btn_disable" name="comment" class="post_input form-control" autocomplete="off" type="text" placeholder="Add a comment..."  [formControlName]="'comment'">
        </div>
        <button class="post_button" type="submit"  [disabled]="!btn_disable">Post</button>
      </form>
    </div>
  </div>
</div>