.container{
  width: 90%;
  padding: 10px;
}

p{
  font-size: 16px;
}
.blog-card {
  background-color: white;
  border: 1px solid lightgray;
  padding: 20px 200px 20px 200px;
  margin-bottom: 45px;
  align-content: center;
}

mat-icon{
  margin-right: 10px;
  font-size: 30px;
  cursor: pointer;
}

.title{
  font-size: 24px;
}

.blog-header-image {
  background-image: url('../../../assets/images/pic.PNG');
  background-size: cover;
}

.comments_section{
  font-size: 16px;
  padding-bottom: 8px;
  width: 100%;
}
.user_name{
  font-weight: 600;
}

.post_text{
    font-weight: normal;
}

.post_commentBox{
    display: flex;
    font-size: 14px;
}

.post_comment{
    padding: 20px;
}

.post_input{
  flex: 1;
  padding: 10px;
  border: 1px solid lightgray;
  font-size: 16px;
}

.post_button:disabled{
  flex: 0;
  font-size: 16px;
  border-radius: 7px;
  height: 35px;
  color: gray;
  background-color: transparent;
}

.post_button{
  font-size: 16px;
  flex: 0;
  height: 35px;
  color: aliceblue;
  background-color: rgba(33, 128, 223, 0.719);
  border-radius: 7px;
}

input[type="text"] {
  width: 500px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}