.container{
  width: 90%;
  padding: 10px;
}

mat-icon{
  cursor: pointer;
}

.ngx-pagination {
    padding-left: 0px !important;
    font-size: 16px;
  }
  
  .ngx-pagination a{
    text-decoration: none;
  }

  .ngx-pagination a:hover{
    color: lightseagreen;
  }

  .ngx-pagination .current,
  .btn-info {
    background: #17a2b8 !important;
    border: transparent !important;
    border-radius: 50px !important;
  }
  
  .ngx-pagination .current:hover {
    border-radius: 50px !important; 
    border: transparent !important;
  }

p{
font-size: 16px;
}
.blog-card {
    background-color: white;
    border: 1px solid lightgray;
    margin-bottom: 45px;
    align-content: center;
}

mat-icon{
    margin-right: 10px;
    font-size: 30px;
}
.blog-header-image {
    background-image: url('../../../assets/images/pic.PNG');
    background-size: cover;
}

.comments_section{
    font-size: 16px;
    padding-bottom: 8px;

}
.user_name{
    font-weight: 600;
}

.post_text{
    font-weight: normal;
}

.post_commentBox{
    display: flex;
    margin-top: 10px;
}

.post_comment{
    padding: 20px;
}

.post_input{
    flex: 1;
    border: none;
    padding: 10px;
    border: 1px solid lightgray;
}

.post_button{
    flex: 0;
    border: none;
    color: #6082a3;
    background-color: transparent;
    border-top: 1px solid lightgray;
}