<div class="container">
    <!-- avatar + username -->
    <mat-card class="blog-card" *ngFor="let blog of blogs">
        <mat-card-header>
            <div mat-card-avatar class="blog-header-image"></div>
            <mat-card-title>{{blog.name}}</mat-card-title>
            <mat-card-subtitle>Jakarta</mat-card-subtitle>
        </mat-card-header>
        <hr>
        <h2>Dog Facts!!</h2>
        <img style="padding: 0 15px;" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <!-- <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions> -->
        <div class="icons">
            
            <!--<input id="toggle-heart" type="checkbox"/>
            <label for="toggle-heart">❤</label>
            -->
            <mat-icon style="color: red">favorite_border</mat-icon>
            <mat-icon style="color: rgb(7, 152, 248)">comment</mat-icon>
            <mat-icon style="color: rgb(43, 196, 43)">share</mat-icon>
        </div>
        <hr>
        <div class="comments_section">
            <span class="user_name">testuser1</span> Nice picture of the dog, Bro!!<br>
        </div>
        <div class="comments_section">
            <span class="user_name">testuser2</span> Beautiful Picture<br>
        </div>
        <div class="comments_section">
            <span class="user_name">testuser3</span> Thanks for the Picture!!<br>
        </div>
        <div class="comments_section">
            <span class="user_name">testuser4</span> We support you!!<br>
        </div>
        <div class="comments_section">
            <span class="user_name">testuser5</span> Cute Dog!!<br>
        </div>
        <form class="post_commentBox">
            <input name="comment" class="post_input form-control" autocomplete="off" type="text" placeholder="Add a comment..." [(ngModel)]="commentText">
            <button class="post_button" type="submit" (click)="saveNewField(commentText)" [disabled]="!commentText">Post</button>
        </form>
    </mat-card>

    <h4 class="post_text"><strong>Hello there</strong></h4>
</div>