p{
  font-size: 16px;
}
.blog-card {
    background-color: white;
    border: 1px solid lightgray;
    padding: 20px 200px 20px 200px;
    margin-bottom: 45px;
    align-content: center;
  }

  mat-icon{
    margin-right: 10px;
    font-size: 30px;
  }
  .blog-header-image {
    background-image: url('../../../assets/images/pic.PNG');
    background-size: cover;
  }

  .comments_section{
    font-size: 16px;
    padding-bottom: 8px;

  }
  .user_name{
    font-weight: 600;
  }

.post_text{
    font-weight: normal;
}

.post_commentBox{
    display: flex;
    margin-top: 10px;
}

.post_comment{
    padding: 20px;
}

.post_input{
    flex: 1;
    border: none;
    padding: 10px;
    border: 1px solid lightgray;
}

.post_button{
    flex: 0;
    border: none;
    color: #6082a3;
    background-color: transparent;
    border-top: 1px solid lightgray;
}

$bubble-d: 4.5rem; // bubble diameter
$bubble-r: .5*$bubble-d; // bubble-radius

@mixin bubble($ext) {
  transform: scale(1);
  border-color: #cc8ef5;
  border-width: $ext;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  height: 100vh;
}

[id='toggle-heart'] {
  position: absolute;
  left: -100vw;
  
  &:checked + label {
    color: #e2264d;
    will-change: font-size;
    animation: heart 1s cubic-bezier(.17, .89, .32, 1.49);
    
    &:before, &:after {
      animation: inherit;
      animation-timing-function: cubic-bezier(.21, .61, .35, 1);
    }
    
    &:before {
      will-change: transform, border-width, border-color;
      animation-name: bubble;
    }
  }
}

[for='toggle-heart'] {
  align-self: center;
  position: relative;
  color: #aab8c2;
  font-size: 2em;
  cursor: pointer;
  
  &:before, &:after {
    position: absolute;
    z-index: -1;
    top: 50%; left: 50%;
    border-radius: 50%;
    content: '';
  }
  
  &:before {
    box-sizing: border-box;
    margin: -$bubble-r;
    border: solid $bubble-r #e2264d;
    width: $bubble-d; height: $bubble-d;
    transform: scale(0);
  }
}

@keyframes heart {
  0%, 17.5% { font-size: 0; }
}

@keyframes bubble {
  15% { @include bubble($bubble-r); }
  30%, 100% { @include bubble(0); }
}