body{
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  height: 100%;
}
.text{
  text-align:center;
  font-size:50px;
  line-height: 1.6;
  padding-bottom: 140px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
}