<div class="bootstrap-wrapper text-center mt">

<div class="container"> 

  <div class="row">
    <div class="col-md-6 offset-md-3">

    <form (ngSubmit)="onSubmit()">

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Username</mat-label>
        <input
        [(ngModel)]="credentials.username"
        name="username"
         type="email" matInput required/>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Password</mat-label>
        <input 
        [(ngModel)]="credentials.password"
        name="username"
        type="password" matInput required/>
      </mat-form-field>

      <div class="container text-center">
        <button type="submit" mat-raised-button color="primary">
          Login
        </button>
        <button type="reset" style="margin-left: 10px;" mat-raised-button color="accent">
          Reset
        </button>
      </div>

    </form>
    
  </div>
</div>
</div>
</div>