<div class="container">
    <div class="wrapper">
        <div class="card" *ngFor="let post of posts">
            <img src="../../../assets/images/{{post.category}}.jpg">
            <div class="descriptions">
                <h1>{{post.title}}</h1>
                <p [innerHtml]="post.description">
                </p>
                <button class="delete" (click)="delete(post.id)">
                    Delete
                </button>
                <button class="update" (click)="update(post.id)">
                    Update
                </button>
                <button class="read" (click)="goToPost(post.id)">
                    Read
                </button>
            </div>
        </div>
    </div>
</div>
<ngx-spinner></ngx-spinner>