<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Options</mat-toolbar>
    <mat-nav-list>
      <a href="/home" mat-list-item routerLink="home" routerLinkActive="active"><mat-icon>home</mat-icon> Home Page</a>
      <a href="/admin" *ngIf="showAdminBoard" mat-list-item routerLink="admin" routerLinkActive="active"><mat-icon>admin_panel_settings</mat-icon> Admin Board</a>
      <a href="/user" *ngIf="isLoggedIn" mat-list-item routerLink="user" routerLinkActive="active"><mat-icon>face</mat-icon> User</a>
      <!-- <a *ngIf="isLoggedIn" mat-list-item ><mat-icon>book_online</mat-icon> Blog</a>
      <a *ngIf="isLoggedIn" mat-list-item routerLink="/upload-file" routerLinkActive="active"><mat-icon>fingerprint</mat-icon> UploadFile</a> -->
      <a *ngIf="!isLoggedIn" mat-list-item routerLink="/login" routerLinkActive="active"><mat-icon>login</mat-icon> SignIn/SignUp</a>
      <a *ngIf="isLoggedIn" mat-list-item routerLink="/profile" routerLinkActive="active"><mat-icon>fingerprint</mat-icon> {{username}}</a>
      <a *ngIf="isLoggedIn" mat-list-item routerLink="/newblog" routerLinkActive="active"><mat-icon>book_online</mat-icon> New Blog</a>
      <a *ngIf="isLoggedIn" mat-list-item (click)="logout()"><mat-icon>logout</mat-icon> Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Blog App</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<ngx-spinner></ngx-spinner>