<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"
      >
    <mat-toolbar>Options</mat-toolbar>
    <mat-nav-list>
      <a href="/home" mat-list-item routerLink="home" routerLinkActive="active"><mat-icon>home</mat-icon> Home Page</a>
      <mat-divider></mat-divider>
      <a href="/admin" *ngIf="showAdminBoard" mat-list-item routerLink="admin" routerLinkActive="active"><mat-icon>admin_panel_settings</mat-icon> Admin Board</a>
      <a *ngIf="isLoggedIn" mat-list-item routerLink="/editblog" routerLinkActive="active"><mat-icon>edit</mat-icon> Edit Blog</a>
      <a *ngIf="!isLoggedIn" mat-list-item routerLink="/login" routerLinkActive="active"><mat-icon>login</mat-icon> SignIn/SignUp</a>
      <mat-list-item *ngIf="isLoggedIn" [matMenuTriggerFor]="menu">
        <mat-icon>unfold_more</mat-icon>
        <a matline>Profile</a>
    </mat-list-item>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/profile" routerLinkActive="active"><mat-icon  routerLinkActive="active">fingerprint</mat-icon>Profile</button>
      <button mat-menu-item routerLink="/changepassword" routerLinkActive="active"><mat-icon routerLinkActive="active">password</mat-icon>Password</button>
    </mat-menu>
      <a *ngIf="isLoggedIn" mat-list-item routerLink="/newblog" routerLinkActive="active"><mat-icon>book_online</mat-icon> Create Blog</a>
      <mat-divider></mat-divider>
      <a *ngIf="isLoggedIn" mat-list-item (click)="logout()"><mat-icon>logout</mat-icon> Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Blog App</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<ngx-spinner></ngx-spinner>