<div class="bootstrap-wrapper" *ngIf="currentUser; else loggedOut">
    <div class="container text-center mt" style="display: flex;">
      <div class="profile-card">
        <header>
          <!-- here’s the avatar -->
          <a routerLink="/profile">
            <img src="../../../assets/images/pic.PNG">
          </a>
          <!-- the username -->
          <h1>
            {{ currentUser.username }}
          </h1>
        </header>
        <!-- bit of a bio; who are you? -->
        <div class="profile-bio">
          <h4><strong>Total Blog(s): </strong><i> {{ currentUser.blogcount }} </i></h4>
          <h4>
            <strong>Email: </strong> <em> {{ currentUser.email }}</em>
          </h4>
          
            <strong>Roles:</strong><br>
              <i>
                <span *ngFor="let role of currentUser.roles">
                {{ role }}<br>
                </span>
              </i>  
        </div>
      </div>
  </div>
</div>
<ng-template #loggedOut>
    Please login.
</ng-template>
