<div class="bootstrap-wrapper" *ngIf="currentUser; else loggedOut">
    <div class="container text-center mt">
      <aside class="profile-card">
        <header>
          <!-- here’s the avatar -->
          <a routerLink="/profile">
            <img src="../../../assets/images/pic.PNG">
          </a>
      
          <!-- the username -->
          <h1>
            {{ currentUser.username }}
          </h1>
      
        </header>
      
        <!-- bit of a bio; who are you? -->
        <div class="profile-bio">
      
          <p>
            <strong>Email: </strong> <em> {{ currentUser.email }}</em>
          </p>
          <br>
            <strong>Roles:</strong>
            <ol>
              <li *ngFor="let role of currentUser.roles">
                {{ role }}
              </li>
            </ol>      
        </div>
      
        
      </aside>
  </div>
</div>
<ng-template #loggedOut>
    Please login.
</ng-template>