<div class="form-style-5 container">
    <form *ngIf=!submitted (ngSubmit)="onSubmit()" novalidate>
        <div class="form-group">
            <legend for="inputdefault"><span class="number"> </span> Title</legend>
            <input class="form-control" id="inputdefault" [(ngModel)]="model.title" type="text" name="name" placeholder="Blog Title">
        </div>
        <div class="form-group">
            <legend><span class="number"> </span> Category</legend>
            <select id="job" name="field4" [(ngModel)]="model.category">
                <optgroup label="Food">
                    <option value="veg">Veg</option>
                    <option value="nonveg">Non-Veg</option>
                  </optgroup>
                  <optgroup label="Technology">
                    <option value="computer">Computer</option>
                    <option value="mobile">Mobile</option>
                    <option value="network">Networking</option>
                    <option value="telecom">Telecom</option>
                  </optgroup>
                  <optgroup label="Current-Affairs">
                    <option value="India">India</option>
                    <option value="worldwide">WorldWide</option>
                  </optgroup>
                  <optgroup label="Others">
                    <option value="others">Others</option>
                  </optgroup>
            </select>
        </div>
        <app-upload-files></app-upload-files>
        <div class="form-group">
            <legend><span class="number"> </span> Description</legend>
                <ckeditor name="name" [(ngModel)]="model.description" [editor]="Editor"></ckeditor>
            <div class="container">
                <div class="row">
                   
                        <button type="submit">Submit</button>
                        <button type="reset">Clear</button>
                </div>
            </div>
        </div>
    </form>
</div>