<div class="form-style-5 container">
    <form *ngIf=!submitted (ngSubmit)="onSubmit()">
        <div class="form-group">
            <legend for="inputdefault"><span class="number"> </span> Title</legend>
            <input class="form-control" id="inputdefault" [(ngModel)]="model.name" type="text" name="name" placeholder="Blog Title">
        </div>
        <div class="form-group">
            <legend><span class="number"> </span> Category</legend>
            <select id="job" name="field4" [(ngModel)]="model.category">
                <option value="Food">Food</option>
                <option value="Technology">Technology</option>
                <option value="Current Affairs">Current Affsairs</option>
                <option value="Other">Other</option>
            </select>
        </div>
        <div class="form-group">
            <img [src]="model.url" height="200"> <br/>
            <input type='file' (change)="onSelectFile($event)">
        </div>
        <div class="form-group">
            <legend><span class="number"> </span> Description</legend>
                <ckeditor name="name" [(ngModel)]="model.editorData" [editor]="Editor"></ckeditor>
            <div class="container">
                <div class="row">
                   
                        <input type="submit" value="Submit" />
                        <input type="reset" value="Clear" />
                    
                </div>
            </div>
        </div>
    </form>
</div>